.sidenav-container {
  height: 100%;
  ;
  
  
}

.sidenav {
  width: 200px;
  background-color: lightgrey;
}

.sidenav .mat-toolbar {
  background: lightgray;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  
}
mat-toolbar{
  background-color:lightgray;
}

.router{
  padding:20px;
}

.logout{
  margin-left:  1000px;
}

