<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/"> 
        <mat-icon>home </mat-icon>
        dashbord</a>
      <a mat-list-item routerLink="/admin">Admin</a>
    <a mat-list-item routerLink="/student">tilmydh</a>
      <a mat-list-item routerLink="/teacher"><mat-icon>people</mat-icon>ustadh</a>
      <a mat-list-item routerLink="/subject">subject</a>
      <a mat-list-item routerLink="/coursetable">swaful</a>
      <a mat-list-item routerLink="/exam">imtihaan</a>
      <a mat-list-item routerLink="/fitrah">Fitrah</a>
      <a mat-list-item routerLink="/log-out">Log Out</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Al-madrasatul Ibtidaiyyah islaamiyyah</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
