.results{
    background-color: aqua;
}
.add{
    margin-left: 1300px;
}
.title{
    margin-left: 650px;
}
.swaful{
    margin-left: 50px;
}
.id{
    margin-left: 40px;
}
.delete{
    margin-left: 10px;
}