

<mat-card>
    <mat-card-title>Tilmiydh</mat-card-title>
    <mat-card-subtitle> list of Tilmiydh</mat-card-subtitle>
    <mat-card-content>
        <div>
            <button mat-raised-button color="accent" (click)="OnCreate()">add tilmydh</button>
        </div>

        <div>
            <form [formGroup]="selectForm">
                <mat-form-field appearance="fill">
                    <mat-label>SWAFUL</mat-label>
                    <mat-select formControlName="swaful_id">
                      <mat-option *ngFor="let sw of classList" [value]="sw.swaful_id">
                        {{sw.swaful_name}}
                      </mat-option>
                    </mat-select> 
                  </mat-form-field>
                  <button  mat-raised-button type="submit" (click)="OnSelect()" color="accent">Views</button>
                  
            </form>

            <form [formGroup]="selectbyid">
                <div class="col-md-4">
                    <mat-form-field appearance="outline" class="row" >
                      <mat-label>tilmydh_id</mat-label>
                      <input matInput formControlName="tilmydh_id" placeholder="tilmydh_id" value="tilmydh_id">
                    </mat-form-field>
                  </div>
                <div>
                      <button  mat-raised-button type="submit" (click)="OnSelectId()" color="primary">Views</button>
                </div>
            </form>
        </div>
        <table class="table table-border">
            <thead>
                <th>Serial Number</th>
                <th>Tilmiydh Number</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Middle Name</th>
                <th>Gender</th>
                <th>Place</th>
                <th>Nationality</th>
                <th>Swaful</th>
                <th>Parent Name</th>
                <th>Parent Number</th>
                <th>Date of Birth</th>
                <th>ACTION</th>
                <th>Result</th>

            </thead>
            <tbody>
                <tr *ngFor="let stud of studentList let y = index">
                    <td>{{y+1}}</td>
                    <td>{{stud.tilmydh_id}}</td>
                    <td>{{stud.firstName}}</td>
                    <td>{{stud.lastName}}</td>
                    <td>{{stud.middleName}}</td>
                    <td>{{stud.gender}}</td>
                    <td>{{stud.place}}</td>
                    <td>{{stud.nationality}}</td>
                    <td>{{stud.swaful_id}}</td>
                    <td>{{stud.parent_name}}</td>
                    <td>{{stud.parent_number}}</td>
                    <td>{{stud.dob}}</td>
                    <td>
                        <button mat-raised-button color="primary" (click)="OnEdit(stud)">Edit</button>
                        <button mat-raised-button color="primary" (click)="OnDelete(stud.tilmydh_id)">delete</button>
                    </td>
                    <td> <button mat-raised-button color="warn"  (click)="OnViewResult(stud)" >result</button></td>
                </tr>
            </tbody>
        </table>
    </mat-card-content>

</mat-card>




