<mat-card>
    <mat-card-title>
        masomo
    </mat-card-title>
    <button mat-raised-button color="primary" (click)="OnAdd()"> Add subject</button>
    <mat-card-content>
        <table class="table table-border">
            <thead>
                <tr>
                    <th>Sn</th>
                    <th>id</th>
                    <th>subject name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <button mat-raised-button color="primary" (click)="OnUpdate()">update</button>
                        <button mat-raised-button color="primary" (click)="OnDelete()">delete</button>
                    </td>
                </tr>
            </tbody>

        </table>
    </mat-card-content>
</mat-card>
