
<div>
  <button mat-raised-button color="primary" (click)="OnBack()">Back</button>
</div>
<form [formGroup]=createForm autocomplete="off">
    
    <div class="col-md-6">
        <mat-form-field appearance="outline" class=" w-100 example-full-width" >
            <mat-label> Class Name</mat-label>
            <input matInput formControlName="course_name" placeholder="name" value="name">
          </mat-form-field>
        
    </div>
  
</form>
<button mat-raised-button color="primary" [disabled]="createForm.invalid" (click)="Onsave()" >
  <mat-icon>save</mat-icon>
  save 
</button>

