<mat-card>
    <mat-card-title>USTAADH</mat-card-title>
    <mat-card-subtitle> LIST OF USTAADH</mat-card-subtitle>
    <mat-card-content>
        <button mat-raised-button color="primary" (click)="OnAdd()"> Add Ustadh</button>
        <button mat-raised-button color="primary" (click)="Addrole()">add role</button>
        <table class="table table-border">
          <thead>
              <tr>
                  <th>Sn</th>
                  <th>#</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Middle Name</th>
                  <th>Gender</th>
                  <th>place</th>
                  <th>phone number</th>
                  <th>email</th>
                  <th>nationality</th>
                  <th>Action</th>

              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let Ustaadhes of teacherForm, let x=index">
                  <td>{{x+1}}</td>
                  <td>{{Ustaadhes.ustaadh_id}}</td>
                  <td>{{Ustaadhes.firstName}} {{Ustaadhes.lastName}}</td>
                  <td>{{Ustaadhes.lastName}}</td>
                  <td>{{Ustaadhes.middleName}}</td>
                  <td>{{Ustaadhes.gender}}</td>
                  <td>{{Ustaadhes.place}}</td>
                  <td>{{Ustaadhes.phone_number}}</td>
                  <td>{{Ustaadhes.email}}</td>
                  <td>{{Ustaadhes.nationality}}</td>
                  <td>
                      <button mat-raised-button color="primary" (click)="OnEdit(Ustaadhes)">Edit</button>
                      <button mat-raised-button color="primary" (click)="OnDelete(Ustaadhes.id)">Delete</button>
                  </td>

              </tr>
          </tbody>
        </table>
    </mat-card-content>
</mat-card>
