<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card card-body">
                <h2 class="text-center"> Login-Page</h2>
                    <hr>
                    <form [formGroup]="LoginForm">
                    <p><mat-form-field appearance="outline" class=" w-100 example-full-width" >
                        <mat-label>username</mat-label>
                        <input matInput placeholder="username" formControlName="email" >
                      </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="outline" class=" w-100 example-full-width" >
                            <mat-label>password</mat-label>
                            <input type="password" matInput  placeholder="password"  formControlName="password">
                          </mat-form-field>
                    </p>
                  </form>
                    <button mat-raised-button color="primary" (click)="Onlogin()"><mat-icon>login</mat-icon>login</button>

                    <hr>
                    <div> 
                      <p> d <a routerLink="/add-ust">Register Here</a></p>
                    </div>
              
            </div>
        </div>
    </div>
    
</div>
