<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card card-body">
                <h2 class="text-center"> Login-Page</h2>
                    <hr>
                    <p><mat-form-field appearance="outline" class=" w-100 example-full-width" >
                        <mat-label>username</mat-label>
                        <input matInput placeholder="username" >
                      </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="outline" class=" w-100 example-full-width" >
                            <mat-label>password</mat-label>
                            <input matInput  placeholder="password" >
                          </mat-form-field>
                    </p>
                    <button mat-raised-button color="primary" (click)="Onlogin()"><mat-icon>login</mat-icon>login</button>
              
            </div>
        </div>
    </div>
    
</div>
<!-- wal.fire({
    title: 'Are you sure?',
    text: "You won't be able to revert this!",
    icon: 'warning',
    showCancelButton: true,
    confirmButtonColor: '#3085d6',
    cancelButtonColor: '#d33',
    confirmButtonText: 'Yes, delete it!'
  }).then((result) => {
    if (result.isConfirmed) {
      Swal.fire(
        'Deleted!',
        'Your file has been deleted.',
        'success'
      )
    }
  }) -->
