.btn button.role{
    background-color:lightgray;
    color: red;
    margin-left: 1100px;
}
.btn button.auth{
    margin-left: 50px;
    background-color: lightgray;
    color:red;
}button.futa{
    background-color: red;
    color: white;
}