<mat-card>
    
    <mat-card-header><b style="margin-left: 650px;">Swaful</b></mat-card-header>
    
    <mat-card-content>
        <div>
            <button mat-raised-button color="accent" style="margin-left: 1200px;" (click)="OnCreate()"><mat-icon>input</mat-icon>darasa jipya</button>

        </div>
        <table class="table table-border">
            <thead>
                <tr >
                    <th>#</th>
                    <th>jina la swaful</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let classes of classList,let x=index">
                    <td>{{x+1}}</td>
                    <td>{{classes.swaful_name}}</td>
                    <td>
                    <button mat-raised-button color='primary'(click)="OnEdit(classes)" >
                        <mat-icon>
                            edit
                        </mat-icon>
                    edit</button>
                    <button mat-raised-button color='primary' style="margin-left: 10px;" (click)="Ondelete(classes.swaful_id)" >
                        <mat-icon>
                            delete
                        </mat-icon>
                  delete</button>
    
                    </td>
                </tr>
            </tbody>
           
            
        </table>
        

    </mat-card-content>

</mat-card>
