<mat-card>
    <mat-card-title class="title">
      tilmydh Registration Form
    </mat-card-title>
    <mat-card-content>
      <div>
        <button mat-raised-button color="primary" (click)="OnBack()">rudi</button>
      </div>
</mat-card-content>
</mat-card>
<hr>
<mat-card>      
      <form [formGroup]="studentForm" autocomplete="off">

        <div class="row">
          <div class="col-md-4">
            <mat-form-field appearance="outline" class="row" >
              <mat-label>First Name</mat-label>
              <input matInput formControlName="firstName" placeholder="FirstName" value="FirstName">
            </mat-form-field>
          </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="row" >
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastName" placeholder="lastName" value="lastName">
              </mat-form-field>
            </div>
            <div class="col-md-2">
              <mat-form-field appearance="outline" class=" w-100 example-full-width" >
                <mat-label>Middle Name</mat-label>
                <input matInput formControlName="middleName" placeholder="middleName" value="middleName">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <mat-form-field appearance="outline" >
              <mat-label>gender</mat-label>
              <select matNativeControl required formControlName="gender">
                <option value="female">female</option>
                <option value="male">male</option>
              </select>
            </mat-form-field>
          </div>
            <div class="col-md-4">
              
              <input type="date" name="date" formControlName="dob">
            </div>
            <div class="col-md-2">
              <mat-form-field appearance="outline" class=" w-100 example-full-width" >
                <mat-label>nationality</mat-label>
                <select matNativeControl required formControlName="nationality">
                  <option value="Tanzania">Tanzania</option>
                  <option value="Uganda">Uganda</option>
                  <option value="Saudia-arabia">Saudia-arabia</option>
                  <option value="Kenya">Kenya</option>
                  <option value="Qatar">Qatar</option>
                  <option value="Somalia">Somalia</option>
                  <option value="Yemen">Yemen</option>
                  <option value="Burundi">Buundi</option>
                  <option value="Rwanda">rwanda</option>
                  <option value="india">india</option>
                  
                </select>
              </mat-form-field>
            </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <mat-form-field appearance="outline" class="row" >
              <mat-label>place</mat-label>
              <input matInput formControlName="place" placeholder="place" value="">
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="fill">
              <mat-label>SWAFUL</mat-label>
              <mat-select formControlName="swaful_id">
                <mat-option *ngFor="let sw of viewSwaful" [value]="sw.swaful_id">
                  {{sw.swaful_name}}
                </mat-option>
              </mat-select> 
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <mat-form-field appearance="outline" class=" w-100 example-full-width" >
              <mat-label>Parent number</mat-label>
              <input matInput formControlName="parent_number" placeholder="number" value="number">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
            <div class="col-md-2">
              <mat-form-field appearance="outline" class=" w-100 example-full-width" >
                  <mat-label>Parent Name</mat-label>
                  <input matInput formControlName="parent_name" placeholder="parent_name" value="parent_name">
                </mat-form-field>
            </div>
        </div>
    </form>
          <button mat-raised-button color="primary" [disabled]="studentForm.invalid" (click)="Onsave()" >
            <mat-icon>save</mat-icon>
            save
          </button>
    
</mat-card>
