<mat-card>
    <mat-card-title>
      tilmydh
    </mat-card-title>
    <mat-card-subtitle>
        Tilmydh Registration Form
    </mat-card-subtitle>
    <mat-card-content>
      <div>
        <button mat-raised-button color="primary" (click)="OnBack()">Back</button>
      </div>
      <form [formGroup]="studentForm" autocomplete="off">
        <tr>
          <td> 
            <div class="col-md-6">
              <div class="row">
                <mat-form-field appearance="outline" class="row" >
                  <mat-label>First Name</mat-label>
                  <input matInput formControlName="firstName" placeholder="FirstName" value="FirstName">
                </mat-form-field>
    
                <mat-form-field appearance="outline" class="row" >
                  <mat-label>Last Name</mat-label>
                  <input matInput formControlName="lastName" placeholder="lastName" value="lastName">
                </mat-form-field>
              </div>
                    
            </div>
          </td>
          <td>
            <div class="col-md-6">
              <div class="row-md-3">
                <mat-form-field appearance="outline" class=" w-100 example-full-width" >
                <mat-label>Middle Name</mat-label>
                <input matInput formControlName="middleName" placeholder="middleName" value="middleName">
                </mat-form-field>
              </div>
              <div class="row-md-3">
                <mat-form-field appearance="outline" class=" w-100 example-full-width" >
                    <mat-label>Place</mat-label>
                    <input matInput formControlName="place" placeholder="place" value="place">
                  </mat-form-field>
              </div>
              <div class="col">
                
              </div>
            </div>
          </td>
        </tr>
        
       
          
            
        
        <div class="col-md-6">
          <mat-form-field appearance="outline" class=" w-100 example-full-width" >
              <mat-label> Gender</mat-label>
              <input matInput formControlName="gender" placeholder="name" value="name">
            </mat-form-field>
          
      </div>
        
    <div class="col-md-6">
      <mat-form-field appearance="outline" class=" w-100 example-full-width" >
          <mat-label>Nationality</mat-label>
          <input matInput formControlName="nationality" placeholder="nationality" value="nationality">
        </mat-form-field>
      
  </div>
  <div class="col-md-6">
    <mat-form-field appearance="outline" class=" w-100 example-full-width" >
        <mat-label>Faswlu</mat-label>
        <input matInput formControlName="swaful_id" placeholder="faswlu" value="faswlu">
      </mat-form-field>
    
</div>
<div class="col-md-6">
  <mat-form-field appearance="outline" class=" w-100 example-full-width" >
      <mat-label>Parent number</mat-label>
      <input matInput formControlName="parent_number" placeholder="number" value="number">
    </mat-form-field>
  
</div>
<div class="col-md-6">
  <mat-form-field appearance="outline" class=" w-100 example-full-width" >
      <mat-label>Parent Name</mat-label>
      <input matInput formControlName="parent_name" placeholder="parent_name" value="parent_name">
    </mat-form-field>
  
</div> 
          </form>
          <button mat-raised-button color="primary" [disabled]="studentForm.invalid" (click)="Onsave()" >
            <mat-icon>save</mat-icon>
            save
          </button>
    </mat-card-content>
</mat-card>
