<mat-card>
    <mat-card-title>Edit teacher</mat-card-title>
    <div class="back">
        <button mat-raised-button color="primary" (click)="OnBack()">Back</button>
    </div>
    <mat-card-content>
        <div class="form">
            <form [formGroup]="editFormTeacher" autocomplete="off">
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class=" w-100 example-full-width" >
                        <mat-label> First Name</mat-label>
                        <input matInput formControlName="firstName" placeholder="name" value="name">
                      </mat-form-field>
                    
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class=" w-100 example-full-width" >
                        <mat-label> Last Name</mat-label>
                        <input matInput formControlName="lastName" placeholder="last name" value="name">
                      </mat-form-field>
                    
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class=" w-100 example-full-width" >
                        <mat-label> Middle Name</mat-label>
                        <input matInput formControlName="middleName" placeholder="Middlecname" value="Middle name">
                      </mat-form-field>
                    
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class=" w-100 example-full-width" >
                        <mat-label> Place Name</mat-label>
                        <input matInput formControlName="place" placeholder="place name" value="place">
                      </mat-form-field>
                    
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class=" w-100 example-full-width" >
                        <mat-label> Nationality</mat-label>
                        <input matInput formControlName="nationality" placeholder="name" value="name">
                      </mat-form-field>
                    
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class=" w-100 example-full-width" >
                        <mat-label> gender</mat-label>
                        <input matInput formControlName="gender" placeholder="gender" value="name">
                      </mat-form-field>
                    
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class=" w-100 example-full-width" >
                        <mat-label> Phone number</mat-label>
                        <input matInput formControlName="phone_number" placeholder="name" value="name">
                      </mat-form-field>
                    
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class=" w-100 example-full-width" >
                        <mat-label> Email</mat-label>
                        <input matInput formControlName="email" placeholder="name" value="name">
                      </mat-form-field>
                    
                </div>
            </form>
            <div class="save">
                <button mat-raised-button color="primary" [disabled]="editFormTeacher.invalid" (click)="OnSave()">save</button>
            </div>
        </div>
    </mat-card-content>
</mat-card>
